body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
}
.background {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: url('login.png') no-repeat center center fixed;
    background-size: cover;
    filter: blur(6px);
    z-index: -1;
}
.container {
    width: 500px;
    margin: 110px auto;
    padding: 50px 50px 100px 50px; /* more bottom padding for logout button */
    background-color: rgba(139, 0, 0, 0.95);
    border-radius: 10px;
    text-align: center;
    position: relative;
}
h2 {
    margin-bottom: 20px;
}
form input[type="text"],
form textarea,
form input[type="file"],
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
}
form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background-color: #b9f7bc;
}
.logout-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #b2b1b3;
    color: #fff;
    padding: 12px 40px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s;
}
.logout-btn:hover {
    background: #a34d4d;
    transform: translateX(-50%) translateY(-3px);
    font-weight: bold;
}